/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


 main {
  width:100%;
  padding:30px;
}

header a:visited{
  color: white;
}

.top-page{
  width:50%;
  margin:20px auto;
}

.aboutpage{
 font-size:40px;
 width:100%;
 text-align: center;
 margin:20px auto;
}

.nav-item{
  color:white;
  margin:10px;
}

.devise-page{
  margin-top:10px;
  margin-bottom:60px;
  margin-left:60px;
}

.field, .actions{
  margin-top:10px;
}

.success-messages{
  color:green;
}

.error-message{
  margin-top:10px;
  color:red;
}
th:first-child{
  width:150px;
}

footer{
  width:100%;
  text-align:center;
}